body, html{
    background-color: #93939c;
    height: 100%;
    overflow: hidden;
    font-family: "Arial";
    font-size: 12px;
    color: #ffffff;
}

.pad20 {
    padding: 20px;
}

.pad10 {
    padding: 10px;
}

.mar20 {
    margin: 20px;
}

.mar10 {
    margin: 10px;
}

.hide {
    display: none !important;
}

.video_form, .input_box, .text_label, .submit_button, .hint_button, .sub_video, .video_button {
    position: absolute;
}

/* Timeline bars */

.timeline_bar {
    float: left;
    height: 13px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid white;
    background-color: #777777;
    z-index: -11000;

}

.timeline_strip {
    position: absolute;
    z-index: 1000;
    height: 13px;
    width: 2px;
    opacity: 0.5;
}

.main_scrubber {
    position: absolute;
    height: 20px;
    width: 10px;
    background-color: #FF0000;
    z-index: 11000;
    opacity: 0.7;
}

.context_menu {
    position: absolute;
    width: 200px;
    background-color: #93939c;
    border: 1px solid black;
}

.context_menu div.context_menu_item{
    height: 15px;
    padding: 5px;
    padding-left: 15px;
    width: inherit;
    border: 1px solid black;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.context_menu div.context_menu_item:hover {
    color: white;
}

/* Buttons */

.button {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    -webkit-border-radius: 5px;
}

.button.black {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    font-weight: bold;
    margin: 7px;
    -webkit-border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, left bottom,
    from(#7d828c),
    color-stop(0.5, #303749),
    color-stop(0.5, #121a2e),
    to(#121a2e));
    border: solid 1px rgba(79, 79, 79, 0.75);
}

.button.black:hover {
    background-image: -webkit-gradient(linear, left top, left bottom,
    from(#4286f5),
    color-stop(0.5, #4286f5),
    color-stop(0.5, #194fdb),
    to(#194fdb));
}
