@charset "utf-8";
/* CSS Document */

body {
    margin: 0px;
    padding: 0px;
}

div {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}

#root {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    bottom: 100px;
}

#board {
    background-color: black;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 100px;
    right: 100px;
    overflow: auto;
}

.videoobject {
	position: absolute;
    
}

.topobject {
    position: absolute;
    z-index: 15;
}

.hidden {
    display: none !important;
}
