.right_png, .wrong_png {
    position: absolute;
    z-index: 1000;
}

.right_png {
    width: 80px;
    height: 80px
}

.wrong_png {
    width: 60px;
    height: 70px
}

/* Comments */
.new_comment_window {
    width: 300px;
    /*height: 300px;*/
}

/* Video Players */
.main_player_container {
    position: absolute;
}

.player_container {
    position: relative;
}

.player_area {
    position: absolute;
    top: 0px;
}

.timeline {
    height: 10px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.scrubber {
    height: 10px;
    width: 10px;
    background-color: red;
    position: absolute;
}
