.right_png, .wrong_png {
    position: absolute;
    z-index: 1000;
}

.right_png {
    width: 80px;
    height: 80px
}

.wrong_png {
    width: 60px;
    height: 70px
}

/* Comments */
.new_comment_window {

    /*height: 300px;*/
}

.new_comment_box {
    width: 300px;
}

.discussion_bounding_box {
    position: absolute;
    border: 1px solid white;
}

.discussion_trigger {
    height: 15px;
    width: 15px;
    position: absolute;
    padding-left: 5px;
    padding-top: 5px;
    background-color: #93939c;
    color: black;
    font-weight: bold;
}

.comment {
    border: 1px solid white;
    width: 300px;
}

.discussion_comment {
    border: 1px solid white;
    width: 300px;
    margin-left: 10px;
    background-color: #93939c;
}

/* Video Players */
.main_player_container {
    position: absolute;
}

.player_container {
    position: relative;
}

.player_area {
    position: absolute;
    top: 0px;
}

.canvas_area {
    position: absolute;
    top: 0px;
    left: 0px;
}

.discussion_area {
    position: absolute;
    top: 0px;
    width: 400px;
    left: 1280px;
}

.timeline {
    height: 10px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.scrubber {
    height: 10px;
    width: 10px;
    background-color: red;
    position: absolute;
}
