.left {
	float: left !important;
}

.right {
	float: right !important;
}

.hidden {
	display: none !important;
}

/* Buttons */

.button {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    margin-top: -7px;
    -webkit-border-radius: 5px;
}

.button.black {
	color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    font-weight: bold;
    
    -webkit-border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(#7d828c),
        color-stop(0.5, #303749), 
        color-stop(0.5, #121a2e), 
        to(#121a2e));
    border: solid 1px rgba(79, 79, 79, 0.75);
}

.button.black:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(#4286f5), 
        color-stop(0.5, #4286f5),
        color-stop(0.5, #194fdb),
        to(#194fdb));
}